
:root {
    --primary-font: 'Inter', sans-serif;
    --text-white: #FFFFFF;
    --text-white-60: rgba(255, 255, 255, 0.6);
  }
.navbar{
    width:1440px;
}
.logo{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 52px;
height: 50px;
left: 24px;
top: calc(5% - 43px/2);
}

.nav-links{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 418.41px;
height: 43px;
left: calc(52% - 418.41px/2 - 6.44px);
top: calc(5% - 43px/2 + 8.5px);
}
.nav-links a{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 23.625px 8px 24px;

width: 98.62px;
height: 43px;

font-family: var( --primary-font);
font-size: 18px;
font-weight: 300;
line-height: 27px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.Menu-btn{
position: absolute;
width: 80.86px;
height: 43px;
left: 1335.12px;
top: calc(7% - 43px/2);
/*fonts*/
font-family: var( --primary-font);
font-size: 18px;
font-weight: 300;
line-height: 27px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}




